.app {

  &__container {
    height: 100%;
    background-color: #2f3542;
    font-family: 'Verdana', sans-serif;
    color: #FFF;
  }

  &__header {
    height: 200px;

    &--title {
      text-align: center;
      font-weight: bold;
      font-size: 28px;
      line-height: 200px;
    }
  }

  &__content {
    height: calc(100% - 200px);

    & > div {
      display: inline-block;
      vertical-align: top;
      height: 100%;
      transition-property: width;
      transition-duration: 400ms;
    }
  }

  &__burger-icon {
    position: absolute;
    right: 13px;
    top: 10px;
    cursor: pointer;
  }

  &__side-menu {
    width: 200px;
    position: relative;
    background-color: #747d8c;

    &--list {
      margin-top: 50px;
    }
  }

  &__main-menu {
    width: calc(100% - 200px);
    background-color: #57606f;
    overflow-y: scroll;
    box-sizing: border-box;
  }
}

.w-0 { width: 0; visibility: hidden; }
.w-100 { width: 100%; }
