.app {

  &__container {
    height: 100%;
    font-family: 'Verdana', sans-serif;
    color: #FFF;
  }

  &__content {

    &-burger {
      position: absolute;
      left: 10px;
      top: 10px;
      z-index: 1003;
      cursor: pointer;
    
      & > div {
        width: 25px;
        height: 3px;
        background-color: #2f3542;
        margin: 5px 0;
      }
    }

    &-side {
      position: absolute;
      height: 100%;
      width: 200px;
      background-color: #747d8c;
      z-index: 1001;
      transform: translate(-100%, 0);
      transition: transform 0.4s cubic-bezier(0.77,0.2,0.05,1.0);
    
      &--open {
        transform: none;
      }
  
      &--list {
        list-style: none;
        margin-top: 50px;
        padding-left: 20px;

        & a {
          text-decoration: none;
          color: #2f3542;
          font-size: 17px;
          letter-spacing: 3px;
          line-height: 4em;
        }
      }
    }
  
    &-main {
      height: 100%;
      width: 100%;
      overflow-y: scroll;
    }
  }
}