<div class="app__container">

  <div class="app__header">
    <div class="app__header--title">Angular components</div>
  </div>

  <div class="app__content">

    <button class="app__burger-icon" (click)="toggleSideMenu()">{{sideMenuClosed ? O : X}}</button>

    <div class="app__side-menu" [class.w-0]="sideMenuClosed">
      <ul class="app__side-menu--list">
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/autocomplete" routerLinkActive="active">Autocomplete</a></li>
      </ul>
    </div>

    <div class="app__main-menu" [class.w-100]="sideMenuClosed">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
