<div class="app__container">

  <div class="app__header">
    <div class="app__header--title">Angular components</div>
  </div>

  <div class="app__content">

    <div class="app__side-menu">
      <ul class="app__side-menu--list">
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/autocomplete" routerLinkActive="active">Autocomplete</a></li>
      </ul>
    </div>

    <div class="app__main-menu">
      <router-outlet></router-outlet>
    </div>

  </div>

  <div class="app__footer">
    <div class="app__footer--title">Created by Victor VACCARO</div>
  </div>

</div>
