<div class="resume__container">
  
  <div class="resume__left">
    <div class="resume__photo">
      <img src="../../../assets/photo.png">
    </div>
    <div class="resume__nom">Victor VACCARO</div>
    <div class="resume__position">Full Stack Web & Mobile</div>
    <div class="resume__contact">
      <div class="resume__contact--age">
        <div>Birthday</div><div>01/07/1993</div>
      </div>
      <div class="resume__contact--email">
        <div>Email</div><div>victorvaccaro93@gmail.com</div>
      </div>
      <div class="resume__contact--linkedin">
        <div>Linkedin</div><a href="https://github.com/vaccarov">/Vaccarov</a>
      </div>
      <div class="resume__contact--github">
        <div>Github</div><a href="http://linkedin.com/in/vaccarovictor">/linkedin</a>
      </div>
      <div class="resume__contact--age">
        <div>Address</div><div>34 Rue de Nanterre, 92600 Asnières sur Seine, France</div>
      </div>
    </div>
    
    <div class="resume__title">Languages</div>
    <div class="resume__languages">
      <div>
        <div>French</div> <div>Native</div>
      </div>
      <div>
        <div>English</div> <div>Bilangual</div>
      </div>
      <div>
        <div>Italian</div> <div>Basics</div>
      </div>
      <div>
        <div>Chinese</div> <div>Basics (working on it)</div>
      </div>
      <div style="clear: both"></div>
    </div>
    
    <div class="resume__title">Skills</div>
    <div class="resume__skills">
      <div>
        <div>HTML5/CSS3</div><div><div style="width: 90%"></div></div>
      </div>
      <div>
        <div>Angular 2+</div><div><div style="width: 95%"></div></div>
      </div>
      <div>
        <div>TypeScript</div><div><div style="width: 90%"></div></div>
      </div>
      <div>
        <div>Node.js</div><div><div style="width: 65%"></div></div>
      </div>
      <div>
        <div>MongoDB</div><div><div style="width: 50%"></div></div>
      </div>
      <div>
        <div>Java</div><div><div style="width: 70%"></div></div>
      </div>
      <div>
        <div>Git</div><div><div style="width: 60%"></div></div>
      </div>
      <div>
        <div>Agile (SCRUM)</div><div><div style="width: 90%"></div></div>
      </div>
    </div>
    
  </div>
  
  
  <div class="resume__right"></div>
  
</div>
